
ul{
    list-style-type: none;
    padding: 0;
    margin: auto;
    display: flex;
    justify-content:left;
    align-items: center;
    height: 150px;
    flex-direction:column;
    gap: 2px;
}

body{
    text-align:center;
    background-color: black;
    color: white;
}
